

a {
  color: #00B7FF;
}

.btn-primary {
  background-color: #14325C;
  border: 0px solid;
}

.btn-primary:hover {
  background-color: #49688f;
  border: 0px solid;
}

.btn-primary:not( :hover ) {
  background-color: #49688f;
  border: 0px solid;
}

.btn-primary:active {
  background-color: #49688f;
  border: 0px solid;
}


.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
  background-color: #F2F2F2;
  color: #fff;
}

